.u-section-1 .u-image-1 {
  min-height: 513px;
  background-image: url("images/23d617e677003367a6cf1a4e415156a15b48786b74d79e794497724542af207f6c5bbf98080bdc49236bf44829de3fa496aa61433635c94a4d1d8e_1280.jpg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-size: 6rem;
  --text-color-var: #efefef;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-family: "Alex Brush";
  margin: 14px auto 0 14px;
}

.u-section-1 .u-image-2 {
  height: 100px;
  width: 302px;
  margin: -103px 14px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 428px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 900;
    font-size: 5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 405px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 318px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 386px;
}

.u-section-2 .u-btn-1 {
  --radius: 15px;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  --color-var: #003366;
  margin: 27px auto 0;
  padding: 20px 425px 21px 424px;
}

.u-section-2 .u-icon-1 {
  width: 125px;
  height: 125px;
  --text-color-var: #efefef;
  background-image: none;
  --color-var: #003366;
  color: rgb(255, 255, 255) !important;
  margin: 44px auto 0 209px;
  padding: 25px;
}

.u-section-2 .u-icon-2 {
  width: 125px;
  height: 125px;
  --text-color-var: #efefef;
  background-image: none;
  --color-var: #003366;
  color: rgb(255, 255, 255) !important;
  margin: -125px auto 0 401px;
  padding: 24px;
}

.u-section-2 .u-icon-3 {
  width: 125px;
  height: 125px;
  --text-color-var: #efefef;
  background-image: none;
  --color-var: #003366;
  color: rgb(255, 255, 255) !important;
  margin: -125px auto 0 595px;
  padding: 24px;
}

.u-section-2 .u-icon-4 {
  width: 125px;
  height: 125px;
  --text-color-var: #efefef;
  background-image: none;
  --color-var: #003366;
  color: rgb(255, 255, 255) !important;
  margin: -125px auto 0 786px;
  padding: 24px;
}

.u-section-2 .u-text-1 {
  font-family: Agbalumo;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0 232px;
}

.u-section-2 .u-text-2 {
  font-family: Agbalumo;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px auto 0 387px;
}

.u-section-2 .u-text-3 {
  font-family: Agbalumo;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px auto 0 613px;
}

.u-section-2 .u-text-4 {
  font-family: Agbalumo;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -24px auto 0 809px;
}

.u-section-2 .u-text-5 {
  font-family: Agbalumo;
  margin: 15px auto 0 767px;
}

.u-section-2 .u-text-6 {
  font-family: Agbalumo;
  margin: -43px auto 0 629px;
}

.u-section-2 .u-text-7 {
  font-family: Agbalumo;
  margin: -43px auto 0 383px;
}

.u-section-2 .u-text-8 {
  font-family: Agbalumo;
  margin: -43px auto 27px 209px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-top: 47px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 189px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 309px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 469px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 626px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 215px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 299px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 481px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 643px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 16px;
    margin-left: 632px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 518px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 316px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -38px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-1 {
    margin-left: 156px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 197px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 319px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 439px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 155px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 219px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 359px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 483px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 484px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 397px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-top: 27px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 101px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 132px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 224px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 314px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 154px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 259px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -43px;
    margin-left: 352px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 35px;
    margin-left: 363px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 298px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 182px;
  }

  .u-section-2 .u-text-8 {
    margin-bottom: 20px;
    margin-left: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-icon-1 {
    margin-left: 41px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 61px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 119px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 175px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 52px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 82px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 148px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 207px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 229px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 188px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 115px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 99px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1383px;
}

.u-section-3 .u-image-1 {
  width: 457px;
  height: 319px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 34px 63px 0 auto;
}

.u-section-3 .u-text-1 {
  font-family: Agbalumo;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -308px 963px 0 83px;
}

.u-section-3 .u-line-1 {
  width: 400px;
  transform-origin: left center;
  margin: 10px auto 0 83px;
}

.u-section-3 .u-text-2 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: 9px 674px 0 83px;
}

.u-section-3 .u-text-3 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: 137px 108px 0 auto;
}

.u-section-3 .u-text-4 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: -22px 202px 0 auto;
}

.u-section-3 .u-text-5 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: -22px 296px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 457px;
  height: 579px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -21px auto 0 88px;
}

.u-section-3 .u-text-6 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: -579px 401px 0 auto;
}

.u-section-3 .u-line-2 {
  width: 424px;
  transform-origin: left center;
  margin: 13px 97px 0 auto;
}

.u-section-3 .u-text-7 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: 20px 389px 0 auto;
}

.u-section-3 .u-text-8 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: -32px 303px 0 auto;
}

.u-section-3 .u-text-9 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: -22px 202px 0 auto;
}

.u-section-3 .u-text-10 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: -22px 105px 0 auto;
}

.u-section-3 .u-line-3 {
  width: 424px;
  transform-origin: left center;
  margin: 33px 96px 0 auto;
}

.u-section-3 .u-text-11 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: 23px 393px 0 auto;
}

.u-section-3 .u-text-12 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: -32px 303px 0 auto;
}

.u-section-3 .u-text-13 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: -22px 202px 0 auto;
}

.u-section-3 .u-text-14 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: -22px 108px 0 auto;
}

.u-section-3 .u-icon-1 {
  width: 125px;
  height: 125px;
  background-image: none;
  --color-var: #003366;
  color: rgb(255, 255, 255) !important;
  margin: 89px 401px 0 auto;
  padding: 24px;
}

.u-section-3 .u-text-15 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: -111px 161px 0 auto;
}

.u-section-3 .u-text-16 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: 12px 296px 0 auto;
}

.u-section-3 .u-text-17 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: -21px 203px 0 auto;
}

.u-section-3 .u-text-18 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: -21px 109px 0 auto;
}

.u-section-3 .u-text-19 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: 14px 303px 0 auto;
}

.u-section-3 .u-text-20 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: -22px 106px 0 auto;
}

.u-section-3 .u-text-21 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: -21px 205px 0 auto;
}

.u-section-3 .u-icon-2 {
  width: 125px;
  height: 125px;
  background-image: none;
  --color-var: #003366;
  color: rgb(255, 255, 255) !important;
  margin: 68px 405px 0 auto;
  padding: 24px;
}

.u-section-3 .u-text-22 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: -110px 170px 0 auto;
}

.u-section-3 .u-text-23 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: 21px 296px 0 auto;
}

.u-section-3 .u-text-24 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: -21px 203px 0 auto;
}

.u-section-3 .u-text-25 {
  font-family: Agbalumo;
  font-weight: 700;
  margin: -21px 109px 0 auto;
}

.u-section-3 .u-text-26 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: 14px 106px 0 auto;
}

.u-section-3 .u-text-27 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: -21px 303px 0 auto;
}

.u-section-3 .u-text-28 {
  font-family: Agbalumo;
  font-weight: 400;
  margin: -21px 205px 0 auto;
}

.u-section-3 .u-btn-1 {
  --radius: 15px;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  --color-var: #003366;
  margin: 75px auto 0;
  padding: 20px 425px 21px 424px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1089px;
  margin: 31px auto 29px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 187px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-29 {
  font-family: Agbalumo;
  font-weight: 700;
  font-size: 1.25rem;
  --text-color-var: #003366;
  margin: 30px auto 0 151px;
}

.u-section-3 .u-text-30 {
  font-family: Agbalumo;
  --text-color-var: #000000;
  margin: 17px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 187px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-31 {
  font-family: Agbalumo;
  font-weight: 700;
  font-size: 1.25rem;
  --text-color-var: #003366;
  margin: 0 auto;
}

.u-section-3 .u-text-32 {
  font-family: Agbalumo;
  margin: 17px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 187px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-text-33 {
  font-family: Agbalumo;
  font-weight: 700;
  font-size: 1.25rem;
  --text-color-var: #003366;
  margin: 0 auto;
}

.u-section-3 .u-text-34 {
  font-family: Agbalumo;
  margin: 17px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1436px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 794px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 474px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 331px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 321px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 324px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 331px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 334px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-3 .u-text-29 {
    margin-left: 130px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 161px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 608px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 254px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 227px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 254px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 246px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 232px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 248px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 232px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 254px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 227px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 232px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 256px;
  }

  .u-section-3 .u-text-23 {
    margin-right: 227px;
  }

  .u-section-3 .u-text-27 {
    margin-right: 232px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-29 {
    margin-left: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 157px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1431px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 456px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 74px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 152px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 170px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 83px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 191px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 185px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 174px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 152px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 186px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 174px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 152px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 191px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 170px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 152px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 174px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 154px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 192px;
  }

  .u-section-3 .u-text-23 {
    margin-right: 170px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 152px;
  }

  .u-section-3 .u-text-27 {
    margin-right: 174px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 154px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 237px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -226px;
    margin-right: 287px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 96px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 107px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 431px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: -431px;
    margin-right: 120px;
  }

  .u-section-3 .u-line-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 116px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 110px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 96px;
  }

  .u-section-3 .u-line-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 117px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 110px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 96px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 120px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 101px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 107px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 96px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 110px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 97px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 121px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 107px;
  }

  .u-section-3 .u-text-23 {
    margin-right: 107px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 96px;
  }

  .u-section-3 .u-text-27 {
    margin-right: 110px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 97px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 222px;
  }
}